* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ind-grid {
    background-color: orange;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    flex-basis: 6.25%;
    aspect-ratio: 1;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
}
