* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column-reverse;
}

.btn {
    padding: 1rem;
    margin: 1rem;
    background-color:brown;
    display: flex;
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 1.5rem;
}

.popup {
    display: none;
    position: absolute;
    left: 25rem;
    top: 5rem;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

.popup > button:hover {
    background-color: palevioletred;
}

.popup.show {
    display: flex;
    flex-direction: column;
    gap: 5px;
   }

.ind-grid {
    background-color: orange;
    border: 1px solid black;
    flex-basis: calc(100%/ var(--grid-size));
    aspect-ratio: 1;
}


.ind-grid.active {
    background-color: black;
}


.ind-grid.active:nth-child(even) {
    background-color: pink;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
}

